.verify-container {
  --verify-control-size: 30px;
  --verify-slide-control-color: #fff; // 滑块颜色
  --verify-slide-control-active-color: #257ce6e1; // 滑块活跃颜色
  --verify-success-color: rgba(65, 216, 85, 0.795);
  --verify-failed-color: rgba(216, 65, 65, 0.795);

  position: relative;
  line-height: 0;
  contain: content;
  user-select: none;

  &.verify-container-trigger-hover {
    contain: style layout;
  }

  &.verify-container-disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  .verify-background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    &.verify-image-loading {
      --verify-loading-size: 40px;
      position: relative;
      &::before {
        content: "";
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.6);
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        top: calc(50% - var(--verify-loading-size) / 2);
        left: calc(50% - var(--verify-loading-size) / 2);
        width: var(--verify-loading-size);
        height: var(--verify-loading-size);
        background-color: #333;
      
        animation: verify-rotateplane 1.0s infinite ease-in-out;
        z-index: 10;
      }
      &.verify-image-clip {
        opacity: 0.2;
      }
    }
  }

  .verify-content-box, .verify-check-box {
    position: relative;
    width: var(--verify-content-box-width);
    background-color: #878787;
  
    // 滑块
    .verify-slide-control {
      --verify-slide-control-x: 0; // 滑块偏移X

      position: relative;
      display: inline-block;
      width: var(--verify-control-size);
      height: var(--verify-control-size);
      background-color: var(--verify-slide-control-color);
      cursor: pointer;
      box-shadow: 1px 1px 2px 1px #00000024;
      transform: translate(var(--verify-slide-control-x), 0);
      transition: background-color .2s ease-in-out;
    
      &:hover, &:focus, &:active {
        background-color: var(--verify-slide-control-active-color);

        .verify-slide-control-icon {
          fill: #fff;
          transition: fill .2s ease-in-out;
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: calc(var(--verify-slide-control-x) * -1);
        right: var(--verify-control-size);
        height: 100%;
        box-shadow: inset 1px 0 var(--verify-slide-control-active-color),
          inset 0 -1px var(--verify-slide-control-active-color),
          inset 0 1px var(--verify-slide-control-active-color);
        // background-color: var(--verify-slide-control-color);
      }

      .verify-slide-control-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: var(--verify-slide-control-active-color);
        transition: fill .2s ease-in, opacity .2s ease-in-out;
      }

      .verify-slide-control-success, .verify-slide-control-failed {
        opacity: 0;
      }
    }

    // 文字
    .verify-slide-label {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: var(--verify-control-size);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      opacity: 1;
      color: #323336e6;
      font-size: 12px;
      transition: opacity .2s ease-in-out;
    }

    // 移动时状态
    &.verify-content-box-slide-active .verify-slide-label {
      opacity: 0;
    }

    // 校验成功样式
    &.verify-slide-success {
      .verify-slide-control {
        background-color: var(--verify-success-color);
        &::before {
          box-shadow: inset 1px 0 var(--verify-success-color),
            inset 0 -1px var(--verify-success-color),
            inset 0 1px var(--verify-success-color);
        }
        .verify-slide-control-normal, .verify-slide-control-failed {
          opacity: 0;
        }
        .verify-slide-control-success {
          opacity: 1;
          fill: #fff;
        }
      }
    }

    // 校验失败样式
    &.verify-slide-failed {
      .verify-slide-control {
        background-color: var(--verify-failed-color);
        &::before {
          box-shadow: inset 1px 0 var(--verify-failed-color),
            inset 0 -1px var(--verify-failed-color),
            inset 0 1px var(--verify-failed-color);
        }
        .verify-slide-control-normal, .verify-slide-control-success {
          opacity: 0;
        }
        .verify-slide-control-failed {
          opacity: 1;
          fill: #fff;
        }
      }
    }

    // 触发方式为hover的样式
    &.verify-content-box-hover {
      height: 30px;

      .verify-conent-view {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        height: 0;
        width: 100%;
        transition: top .3s ease-in-out, opacity .3s ease-in-out, height .3s ease-in-out;
      }

      &.verify-content-box-hover-active {
        .verify-conent-view {
          pointer-events: all;
          top: calc(var(--verify-content-box-height) * -1);
          height: var(--verify-content-box-height);
          opacity: 1;
        }
      }
    }
  }
}

@keyframes verify-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
