.verify-container {
  position: relative;
  line-height: 0;
  overflow: hidden;
  user-select: none;

  .verify-background-image {
    width: 100%;
    height: 100%;
  }

  .verify-slide-box {
    height: 30px;
    width: var(--verify-slide-box-width);
    background-color: #ccc;
  
    .verify-slide-control {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #fff;
      cursor: pointer;
      transition: background-color .2s ease-in-out;
    
      &:hover, &:focus, &:active {
        background-color: #00b8ff;
      }
    }
  }
}
